@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    display: flex;
    color: #333;
}

.barraTarefas {
    position: fixed;
    width: 250px;
    background-color: #1e88e5;
    color: white;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.barraTarefas h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.barraTarefas ul {
    list-style: none;
    font-size: 1.2rem;
}

.barraTarefas li {
    margin: 15px 0;
    cursor: pointer;
}

.barraTarefas li:hover {
    background-color: #1565c0;
    padding: 5px;
    border-radius: 5px;
}

.barraTarefas a {
    text-decoration: none;
    color: white;
    display: block;
}

.conteudo {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .botao-publicar {
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #1e88e5;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    position: center;
}

header .botao-publicar:hover {
    background-color: #1565c0;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

header .botao-publicar:active {
    background-color: #0d47a1;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.atividade {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.atividade h3 {
    margin-bottom: 10px;
}

.info p {
    margin: 5px 0;
}

.botoes {
    display: flex;
    justify-content:100px;
    margin-top: 10px;
}

.botoes button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.botoes button:hover {
    background-color: #1565c0;
}

.main-content {
    margin: auto;
    flex: 1;
    
}

.perfil-container {
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 20px;
	border-radius: 8px;
	margin: auto;
	align-items: center;
}

.perfil-header {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	align-items: center;
}

.img-container {
	display: inline;
	width: 150px;
	height: 150px;
	margin: auto;
}

.perfil-photo {
	width: 100%;
	height: auto;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.perfil-name {
	font-size: 28px;
	margin: 0;
}

.perfil-info {
	display: flex;
	flex-direction: column;
}

.attributes {
	list-style: none;
	padding: 0;
}

.attributes li {
	display: block;
	text-align: justify;
	background: #fff;
	margin: 5px 0;
	padding: 10px;
	border-radius: 4px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

header .botao-publicar {
    margin-top: 20px; 
}

.botao-editarperfil {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-editarperfil:hover {
    background-color: #1e90ff; 
    color: white;
    transition: background-color 0.3s ease;
}



.exibicao-voluntarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info a, .exibicao-voluntarios a {
    text-decoration: none;
    color: #1565c0;
    font-weight: bold;      
}

.info a:visited, .exibicao-voluntarios a:visited {
    color: #1565c0;
    font-weight: bold;
}

.voluntarios {
	display: none;
	margin-top: 1rem;
}

.botao-voluntariar {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-voluntariar:hover {
    background-color: #1565c0;
}